/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.checkout {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cart-summary, .shipping-info, .payment-info {
    margin-bottom: 40px;
}

.cart-item {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.total {
    font-size: 18px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #0F52BA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-size: 18px;
}

.btn:hover {
    background-color: #0F52BA;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
